.w-100{
    width: 100%;
}
.h-50{
    height: 50px;
}
.bg-test{
    background-color:#00aeff!important;
}

.bg{
    
    background-image: url("../../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-Container{
    
}
.m-10{
    margin: 10vh;
}
.p-10{
    padding: 10vh;
}
.px-3{
    padding-inline: 3vh;
}
.FormContainer {
    background-color: #ffffff24;
    border-radius: 30px;
    padding: 5%;
    margin-inline: 5vh;
    margin-block: 0;
}
.m-0{
    margin: 0px !important;
}
.mx-5{
    margin-inline: 5vh;
}
.title{
    font-size: 3.5vh;
    color: white;
    font-weight: bold;
    text-align: left;
}
.titleForm{
    font-size: 3vh;
    color: white;
    font-weight: bold;
    text-align: center;
}
.subtitle{
    font-size: 2vh;
    color: white;
    font-weight: bold;
    text-align: left;
}
.text-white{
    color: #ffffff !important;
}
.console-font{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
.my-5{
    margin-block: 5vh;
}

.mb-5{
    margin-bottom: 5vh;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.bg-white{
    background-color: #ffffff;
}
.text-black{
    color: #010626;
}
.d-flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.justify-content-start{
    justify-content: start;
}
.align-items-start{
    align-items: start;
}
.text-bold{
    font-weight: bold;
}